<!-- <div class="gallery" id="gallery"> -->
    <div class="paintings">
        <div class="frame top" id="frame0">
            <img src="gallery/1.jpg" class="painting" id="img1">
        </div>
        <div class="frame next" id="frame1">
            <img src="gallery/2.jpg" class="painting" id="img2">
        </div>
        <div class="frame" id="frame2">
            <img src="gallery/3.jpg" class="painting" id="img3">
        </div>
        <div class="frame" id="frame3">
            <img src="gallery/4.jpg" class="painting" id="img4">
        </div>
        <div class="frame" id="frame4">
            <img src="gallery/5.jpg" class="painting" id="img5">
        </div>
        <div class="frame" id="frame5">
            <img src="gallery/6.jpg" class="painting" id="img6">
        </div>
        <!-- <div class="frame">
            <img src="gallery/7.jpg" class="painting" id="img7">
        </div>
        <div class="frame">
            <img src="gallery/8.jpg" class="painting" id="img8">
        </div> -->
    </div>
<!-- </div> -->